$light_blue: #75acff;
$med_blue: #428eff;

body {
  text-align: center;
}

p {
  margin: 0;
  padding: 2vh;
}

img {
   max-width: 100%;
   height: auto;
   padding: 2vh;
}

form {
  padding: 2px;
  display: inline-block;
  text-align: left;
}

input[type="submit"] {
  text-align: center;
}

a {
  color: $light_blue;
}

a:hover {
  text-decoration: none;
}

#grad_scale {
  font-size: 9px;
}

.rate_button{
  background-color: $light_blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid $light_blue;
  margin-top: 3vh;
}

.rate_button:hover {
  background-color: white;
  color: black;
}

.rate_button, .radio-p {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#another {
  font-size: 30px;
}

.main{
    text-align:center
}

.gif-row img {
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
}

.header a h3 {
  font-size: calc(2vh + .75vw);
}

@media (min-width: 768px) {
  .rating-box {
    padding-top: 5vh;
  }
}

.radio-p {
  border: 2px solid white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.radio-p:hover {
  border: 2px solid $light_blue;
}

.radio-p-selected, .radio-p-selected:hover {
  border: 2px solid $light_blue;
  background-color: $light_blue;
}

.constrained {
  max-width: 90vh;
}

.about p {
  text-align: justify;
}

.about img {
  display: inline-block;
}

.about p.caption {
  text-align: center;
  padding-top: 1vh;
}